body {
    font-family: Arial; 
	color: white;
	background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png'); 
	font-size: 18px;
  }
  
header {
	background-color: #696563;
	color: white;
	padding: 20px;
	text-align: center;
}
  

  
nav a {
	color: white;
	text-decoration: none;
	padding: 20px;
}
  
  
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    padding: 10px;
    text-align: center;
}

h1 {
	text-align: center;
	color: white;
	margin: 20px 80px;
}

.main {
	text-align: center;
	background-color: #383635;
	border: 1px solid white;	
	margin: 30px auto;
	width: 70%;
	padding: 10px;
}

.main a {
	color: #1a95e8;
}
  